.text-secondary {
  color: $color-lake-hylia-200;
}

.text-small {
  font-size: $font-size-small;
}

.text-large {
  font-size: $font-size-large;
}

.font-light {
  font-weight: $font-weight-light;
}

.font-bold {
  font-weight: $font-weight-medium;
}

.font-italic {
  font-style: italic;
}
